<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js no-responsive lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js no-responsive ie7 lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js no-responsive ie8 lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js responsive" lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
   
  <title>Testing Auto Layout</title>
</head>

<body>
  <div id="ui-container"></div>
  <script src="./build/layout.js"></script>
</body>
</html>
